<app-header></app-header>
<app-bottom-header>
</app-bottom-header>


<div class="about-me">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-5 mb-md-0">
        <img src="../../assets/images/about_1.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-5 ml-auto">
        <h3 class="mb-5">Who We Are?</h3>
        <blockquote class="quote-29281">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, perferendis iste vitae,
            culpa eveniet enim porro ratione. Maxime, eos repellendus natus. Esse modi necessitatibus
            nesciunt!
          </p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia nesciunt quas,
          laudantium ex rem voluptas quod, distinctio eum tenetur. Placeat, quisquam, consequatur. Quam
          expedita neque nostrum iusto commodi minima!</p>
        <p>Omnis, aspernatur, incidunt cum quo, nisi harum ea earum suscipit delectus explicabo unde saepe
          commodi modi fugiat nihil sint nam. Ullam, esse totam mollitia molestias ipsum odio aperiam,
          officiis nesciunt.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia nesciunt quas,
          laudantium ex rem voluptas quod, distinctio eum tenetur. Placeat, quisquam, consequatur. Quam
          expedita neque nostrum iusto commodi minima!</p>
        <p>Omnis, aspernatur, incidunt cum quo, nisi harum ea earum suscipit delectus explicabo unde saepe
          commodi modi fugiat nihil sint nam. Ullam, esse totam mollitia molestias ipsum odio aperiam,
          officiis nesciunt.</p>

        <div class="social_29128 white mt-5">
          <a href="#"><span class="icon-facebook"></span></a>
          <a href="#"><span class="icon-instagram"></span></a>
          <a href="#"><span class="icon-twitter"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<app-footer></app-footer>
