<app-header></app-header>

<div class="clearfix"></div>
<div class="top-space"></div>
<!-- profile section  -->


<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <div class="imagePreview" *ngIf="imgUrl && imgUrl !== ''">
            <img [src]="imgUrl" [alt]="">
          </div>
          <!-- <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" class="form-control" id="userImage" (change)='onSelectImg($event.target.files)'
              accept=".jpg, .jpeg, .png" />
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                aria-selected="true">About</a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 about-user">
          <div class="tab-content profile-tab" id="myTabContent" *ngIf='user'>
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                </div>
                <div class="col-md-6">
                  <p>{{ user.firstname + '  '  +  user.lastname }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{ user.email }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6">
                  <p>{{ user.contactNo }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Education</label>
                </div>
                <div class="col-md-6">
                  <p>{{ user.education }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>City</label>
                </div>
                <div class="col-md-6">
                  <p>{{ user.city }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/editProfile/', id]">
              <mat-icon>edit</mat-icon>
            </a>
          </div>
          <div class="col-md-6">
            <a type='submit' (click)='deleteProfile()'>
              <mat-icon>delete</mat-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- profile section end -->


<app-footer></app-footer>
